events {
    worker_connections 1024;
}

http {
    upstream backend {
        {% for host in groups['wiki_media'] %}
        server {{ hostvars[host]['ansible_host'] }}:80;
        {% endfor %}
    }

    server {
        listen 3000;
        location / {
            proxy_pass http://backend;
        }
    }
}
