events {
    worker_connections 1024;
}

http {
    upstream backend {
        {% for host in groups['nginx'] %}
            {% if host != wiki_proxy_vm %}
        server {{ hostvars[host]['ansible_host'] }}:80;
            {% endif %}
        {% endfor %}
    }

    server {
        listen 3000;
        location / {
            proxy_pass http://backend;
        }
    }
}
